@font-face {
	font-family: "Gotham Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Gotham Pro"),
	url("fonts/Gotham Pro/gothampro.ttf") format("ttf");
 }
@import url('normalize.css');
/*** var list ***/
:root {
	--font: #334155;
	--font-light: white;
	--red: #EA5D4A;
	--violet: #8081BD;
	--orange: #F6B31F;
	--bright-blue: #0E95D3;
	--page-padding-desktop: 58px;
	--page-padding-mobile: 20px;
	--white: white;
	--pale-yellow: #FFF6D1;
	--max-page-width: 1920px;
	--min-page-width: 1420px;
}
/*** common styles ***/
body {
	margin: 0;
}
a {
	text-decoration: none;
	outline: none; /*Safari*/
}
button {
	padding: 0;
    border: none;
	cursor: pointer;
}
ul, p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.hidden {
	display: none;
}
.flex {
	display: flex;
}
.page * {
	font-family: 'Montserrat', 'Gotham Pro', sans-serif;
	color: var(--font);
}
.red-text {
	color: var(--red);
}
.heading-2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	padding-bottom: 41px;
	color: var(--violet);
}
.section__description {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	padding-bottom: 41px;
}
/** --- **/

.page__container {
	max-width: var(--max-page-width);
	padding: 0 var(--page-padding-desktop);
	margin: 0 auto;
	position: relative;
}
.page__element_size_full {
	width: 100%;
}
.page__element {
	max-width: var(--min-page-width);
	width: 100%;
	margin: 0 auto;
}
.header {
	position: fixed;
    top: 0;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
}
.header__container {
	padding: 17px var(--page-padding-desktop) 34px;
	box-sizing: border-box;
	max-width: calc(1420px + (var(--page-padding-desktop)*2));
}
.header__container * {
	align-items: flex-end;
}
.logo__image {
	max-width: 192px;
	min-width: 130px;
	width: 100%;
}
/** menu **/
.menu-wrapper {
	justify-content: space-between;
	width: 100%;
}
.menu__item {
	font-weight: 600;
	font-size: 14px;
	white-space: nowrap;
}

/** header__menu **/
.header__menu {
	flex-grow: 1;
	padding: 0 10px;
	justify-content: center;
}
.header__menu-wrapper {
	max-width: 550px;
}
.header__menu-item:has(.header__submenu):after {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-color: var(--font);
	transform: rotate(45deg);
	margin: 5px auto -14px;
}
.header__menu-item:has(.header__submenu_active):after {
	border-color: var(--red);
    transform: rotate(225deg);
	margin: 8px auto -17px;
}
.header__menu-item {
	padding: 12px 5px;
}
/** submenu **/
.header__submenu {
	/* display: none; */
	align-items: center;
	height: 78px;
	background: linear-gradient(130.83deg, rgba(83, 84, 136, 0.8) 14.95%, rgba(96, 97, 157, 0.8) 79.77%);
	backdrop-filter: blur(30px);
    justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}
.header__submenu_active {
	display: flex;
}
.header__submenu-item {
	padding: 0 35px;
	font-size: 20px;
	font-weight: 600;
	color: var(--white);
}
.header__submenu-link,
.header__submenu-link:visited {
	color: var(--white);
}
.menu__link_active,
.menu__link:hover,
.menu__submenu-link:hover {
	color: var(--red);
}

/* contacts block */
.contacts__metro {
	color: var(--bright-blue);
}
.contacts__adress {
	font-weight: 600;
	font-size: 12px;
	text-align: right;
}
.contacts__callback {
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
}
.contacts__phone-number {
	font-family: Gotham Pro;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: var(--font);
	padding-left: 20px;
	background: url("../img/icons/phone-icon.svg") no-repeat left;
	letter-spacing: -0.5px;
	white-space: nowrap;
}
.contacts__phone-container {
	flex-direction: column;
	align-items: flex-end;
}
.header__socials-wrapper {
	padding: 0 10px 0 15px;
	justify-content: space-between;
}
.socials__icon {
	width: 30px;
	height: 30px;
	padding: 0 12px;
	display: inline-block;
}
.vk-icon {
	background: url("../img/icons/vk-icon.svg") no-repeat center;
}
.telegram-icon {
	background: url("../img/icons/telegram-icon.svg") no-repeat center;
}
.popup-button {
	width: 192px;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: var(--violet);
	border-radius: 50px;
	white-space: nowrap;
}
/* header's contacts block */
.header__adress-container {
	padding-bottom: 14px;
}

/** Мобильное меню **/
.mobile-panel__burger {
	width: 30px;
	height: 30px;
	background-color: transparent;
	align-items: flex-end;
	display: none;
}
.mobile-panel__burger-line {
	position: relative;
	width: 27px;
}
.mobile-panel__burger-line:before,
.mobile-panel__burger-line:after {
	content: "";
	display: block;
	position: absolute;
	width: 27px;
	right: 0;
	border: 1px solid var(--violet);
	border-radius: 30%;
}
.mobile-panel__burger-line:before {
	bottom: 10px;
}
.mobile-panel__burger-line:after {
	bottom: 24px;
}
.mobile-panel__close {
	height: 30px;
	width: 30px;
	background: url("../img/icons/close-burger-menu.svg") no-repeat center;
}
.mobile-panel {
	display: none;
	backdrop-filter: blur(30px);
	background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 79.77%);
	position: fixed;
	right: 0;
	height: 100%;
	z-index: 11;
	width: 262px;
}
.mobile-panel_active {
	display: block;
}
.mobile-panel__container,
.mobile-panel__menu-wrapper {
	flex-direction: column;
	align-items: flex-end;
}
.mobile-panel__container {
	padding: 25px;
}
.mobile-panel__container * {
	color: var(--white);
}
.mobile-panel__menu-link {
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}
.mobile-panel__menu-item {
	padding: 13px 0;
}
.mobile-panel__menu {
	padding: 10px 0;
}
.mobile-panel__popup-button {
	background-color: var(--white);
	color: var(--font);
}
.mobile-panel__phone-container {
	padding: 12px 0;
}
.mobile-panel__vk-icon {
	background: url("../img/icons/vk-icon-white.svg") no-repeat center;
	padding: 0;
}
.mobile-panel__telegram-icon {
	background: url("../img/icons/telegram-icon-white.svg") no-repeat right;
	padding: 0 0 0 16px
}
.mobile-panel__phone-number{
    background: url("../img/icons/phone-icon-white.svg") no-repeat left;
	letter-spacing: normal;
}

/** footer **/
.footer {
	padding: 72px 0;
}
.footer__menu {
	flex-grow: 1;
	padding: 7px 0 0 7%;
}
.footer__menu-item:not(.footer__menu-item:first-child) {
	padding-left: 5%;
}
.footer__submenu {
	padding-top: 20px;
}
.footer__menu-wrapper {
	width: 100%;
	justify-content: space-between;
}
.footer__submenu-link {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}
.footer__content-wrapper {
	padding: 28px 0;
}
.footer__phone-container {
	align-items: flex-start;
}
.footer__contacts-adress {
	text-align: start;
	font-size: 14px;
	line-height: 20px;
}
.footer__adress-container {
	padding: 20px 0 39px;
}

.footer__phone-number,
.footer__email-address {
	padding-left: 36px;
}
.footer__phone-number {
	background-size: 21px;
    font-size: 40px;
	line-height: 38px;
}
.footer__email-address {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	padding-top: 8px;
}
.footer__socials-icon {
	height: 19px;
	padding: 0;
}
.footer__socials-wrapper {
	width: 81px;
	justify-content: space-between;
}
.footer__copyright-item {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}
.footer__copyrights {
	justify-content: space-between;
}
.footer__mobile-panel-button {
	background-color: var(--red);
	line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
	border-radius: 50px;
    white-space: nowrap;
	text-transform: uppercase;
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
/** map **/
.map__container {
	width: 100%;
}
/** services (icons block) **/
.services_top {
	padding: 102px 0 116px;
}
.services_bottom {
	padding-bottom: 94px;
}
.extra-services {
	padding-bottom: 77px;
}
.services__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 25px;
}
.services__icon {
	padding: 15px;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
	border-radius: 10px;
	background-color: #8081BD;
	flex-shrink: 0;
	margin: 0 20px 0 0;
    stroke: white;
}
.services__icon_orange {
	background-color: var(--orange);
}
.services__icon_purple {
	background-color: #8081BD;
}
.services__icon_rose {
	background-color: #F3ACC8;
}
.services__icon_blue {
	background-color: #0E95D3;
}
.services__item {
	font-size: 16px;
	display: flex;
	align-items: center;
	line-height: 20px;
}
.extra-services__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;
	column-gap: 1%;
	grid-template-rows: repeat(3, 1fr);
}
.extra-services__description {
	width: 100%;
	text-align: center
}
.extra-services__item_size-s { 
	width: 17%;
}
.extra-services__item_size-m { 
	width: 24%;
}
.extra-services__item_size-l { 
	width: 30%;
}
.extra-services__item_size-xl { 
	width: 38%;
}
.extra-services__icon {
	padding: 15px;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
	border-radius: 5px;
	background-color: white;
	margin: 0 12px 0 0;
	flex-shrink: 0;
}
.extra-services__item {
	padding: 12px;
	font-size: 16px;
	display: flex;
	align-items: center;
	line-height: 20px;
	background-color: #FFF6D1;
	border-radius: 10px;
}
/** services (icons block) END **/

/*** callback banners ***/
.callback {
	background-color: var(--violet);
	border-radius: 20px;
	padding: 49px 0;
	position: relative;
}
.callback_light-theme {
	background-color: var(--pale-yellow);
}
.callback__wrapper {
	max-width: var(--min-page-width);
    width: 100%;
    box-sizing: border-box;
	margin: 0 auto;
	padding: 0 18px;
	display: flex;
}
.callback__content {
	width: 55%;
	z-index: 2;
	padding-right: 40%;
}
.callback__heading,
.callback__description,
.agreement__text,
.agreement__link {
	color: var(--font-light);
}
.callback__heading {
	padding-bottom: 27px;
}
.callback_bottom {
	margin-bottom: 83px;
}
.callback__heading_light-theme,
.callback__description_light-theme,
.agreement__text_light-theme,
.agreement__link_light-theme {
	color: var(--font);
}
.callback__description {
	font-weight: 500;
	padding-bottom: 31px;
	font-size: 20px;
	line-height: 24px;
}
.callback__background {
	position: absolute;
	bottom: 0;
	right: 12%;
	width: 370px;
}

/*====*/
.callback_middle {
	margin-bottom: 102px;
}
.callback_middle:after {
	content: "";
	display: block;
    height: 470px;
    width: 680px;
    bottom: -40px;
    right: 5%;
    position: absolute;
	background: url("../img/curious-boy-decoration-back-cropped.svg") bottom no-repeat;
}
.callback__background_middle {
	background: url("../img/curious-boy-only.webp") bottom no-repeat;
	background-size: contain;
	height: 450px;
	/* width: 280px; */
	z-index: 1;
}
.callback_bottom:after {
	content: "";
	display: block;
	height: 470px;
    width: 695px;
    bottom: -10px;
    right: 5%;
    position: absolute;
	background: url("../img/boy-with-glasses-decoration-back-cropped.svg") bottom no-repeat;
}
.callback__background_bottom {
	background: url("../img/boy-with-glasses-only-2.webp") bottom no-repeat;
	background-size: contain;
	height: 467px;
	z-index: 1;
	right: 18%;
}
.callback__background_bottom:after {
	content: "";
	display: block;
    height: 134px;
    width: 137px;
    bottom: -70px;
    right: -21%;
	position: absolute;
	background: url("../img/boy-with-glasses-decoration-front.svg") bottom no-repeat;
	background-size: 93%;
	transform: rotate(345deg);
}

/** forms **/
.callback-form__agreement {
	display: block;
	font-size: 10px;
	line-height: 12px;
	font-weight: 600;
}
.agreement__fake-checkbox {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: white;
	border: 4px solid white;
	border-radius: 50%;
	float: left;
	margin-right: 13px;
}
.agreement__fake-checkbox_light-theme {
	border: 4px solid var(--font);
}
.agreement__checkbox:checked + .agreement__fake-checkbox {
	background-color: var(--red);
}
.agreement__checkbox:checked + .agreement__fake-checkbox_light-theme {
	background-color: var(--font);
}
.agreement__checkbox {
	display: none;
}
.callback-form__input,
.callback-form__submit {
	border-radius: 50px;
	border: none;
	width: 308px;
	line-height: 40px;
	box-sizing: border-box;
}
.callback-form__input {
	padding: 0 20px;
	font-size: 10px;
    margin-right: 16px;
}
.callback-form__input,
.callback-form__submit {
	margin-bottom: 20px;
}
.callback-form__submit {
	text-align: center;
	text-transform: uppercase;
	font-weight:700;
	font-size: 16px;
	background-color: var(--orange);
}
.callback-form__submit_light-theme {
	background-color: var(--red);
	color: var(--white);
}


@media screen and (max-width: 1370px) {
	.page__container {
		padding: 0 var(--page-padding-mobile);
	}
	.header__container {
		padding: 17px var(--page-padding-mobile) 34px;
	}
	.footer__menu {
		padding-left: 3%;
	}
	.footer__phone-number {
		font-size: 24px;
	}
}

@media screen and (max-width: 1300px) {
	.header__phone-container,
	.header__adress-container	{
		display: none;
	}
	.header__container {
		align-items: flex-end;
	}
	.extra-services__item_size-s { 
	width: 20%;
	}
	.extra-services__item_size-m { 
		width: 22%;
	}
	.extra-services__item_size-l { 
		width: 30%;
	}
	.extra-services__item_size-xl { 
		width: 27%;
	}
	.callback__content {
		width: 67%;
		padding-right: 32%;
	}
	.callback__background {
		right: 8%;
	}
	.callback_middle:after,
	.callback_bottom:after	{
		right: 2%;
	}

}

@media screen and (max-width: 1100px) {
	.header__container {
		justify-content: space-between;
	}
	.header__menu,
	.footer__menu {
		display: none;
	}
	.mobile-panel__burger {
		display: flex;
	}
	.header__contacts-wrapper {
		padding: 0 30px 0 10px;
	}
	.footer {
		padding: 45px 0;
	}
	.footer,
	.footer__contacts__wrapper,
	.footer__copyrights {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__contacts-adress {
		text-align: center;
		font-size: 12px;
		line-height: 20px;
	}
	.footer__content-wrapper {
		padding: 27px 0 20px;
	}
	.footer__content-wrapper,
	.footer__contacts	{
		width: 100%;
	}
	.footer__mobile-panel-button {
		display: inline-block;
	}
	.footer__phone-container {
		padding-bottom: 20px;
	}

	.footer__copyright-author {
		padding-top: 13px;
		font-size: 10px;
	}
	.footer__adress-container {
		padding: 27px 0 22px;
	}
	.extra-services__item {
		width: 45%;
	}
	.services__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.services__item_top-list:nth-child(3) {
		order: 1;
	}
	.services__item_top-list:nth-child(6) {
		order: 3;
	}
	.services__item_top-list:nth-child(9) {
		order: 2;
	}
	.callback__background {
		right: 2%;
	}
	.callback_middle:after,
	.callback_bottom:after	{
		right: 0;
	}
	.callback__background_bottom:after {
		right: -12%;
	}
}

@media (max-width: 750px) {
	.extra-services__item {
		width: 100%;
	}
	.services__icon,
	.extra-services__icon {
		width: 56px;
		height: 56px;
	}
	.extra-services__icon {
		margin: 0 9px 0 0;
	}
	.services__item,
	.extra-services__item	{
		font-size: 12px;
	}
	.extra-services__list {
		row-gap: 9px;
	}
	.extra-services__item {
		padding: 9px;
	}
	.extra-services__description {
		text-align: start;
	}
	/* banners */
	.callback {
		padding: 33px 0;
	}
	.callback__heading {
		font-size: 20px;
		line-height: 24px;
		padding-bottom: 11px;
	}
	.callback__description {
		font-size: 12px;
		line-height: 14px;
		padding-bottom: 17px;
	}
	.callback-form__input,
	.callback-form__submit {
		max-width: 245px;
		width: 100%;
	}
	.callback__form	{
		display: flex;
		flex-direction: column;
	}
	.callback-form__submit {
		order: 1;
		margin-bottom: 0;
	}
	.callback-form__input {
		margin-right: 0;
		margin-bottom: 9px;
	}
	.callback-form__agreement {
		margin-bottom: 11px;
	}
	.callback_middle:after,
	.callback_bottom:after {
		width: 370px;
		right: -15px;
	}
	.callback__background_middle {
		width: 150px;
		height: 226px;
	}
	.callback__background_bottom {
		width: 222px;
		height: 280px;
	}
	.callback__background {
		right: 5%;
	}
	.callback__background_bottom:after {
		height: 90px;
		width: 97px;
		bottom: -50px;
	}
	

}

@media (max-width: 550px) {
	.header__container {
		padding: 17px var(--page-padding-mobile) 80px;
	}
	.header__popup-button {
		position: absolute;
		bottom: 27px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - var(--page-padding-mobile)*2) ;
		background-color: var(--red);
	}
	.header__socials-wrapper {
		padding: 0;
	}
	.header__contacts-wrapper {
		padding: 0 15px;
	}
	.header__socials-icon {
		padding: 0 8px;
	}
	.footer__phone-number,
	.footer__email-address {
    padding-left: 30px;
	}
	.services__item {
		flex-direction: column;
	}
	.services__description {
		text-align: center;
	}
	.services__icon {
		margin: 0 0 10px 0;
	}
	.services__list {
		column-gap: 20px;
		row-gap: 13px;
	}
	.services__list_bottom {
		row-gap: 20px;
	}
	/* banners */
	.callback {
		padding: 33px 0 0;
	}
	.callback__content {
		width: 100%;
		padding-right: 0;
		margin-bottom: 19px;
	}
	.callback_middle:after,
	.callback_bottom:after	{
		width: 100%;
	}
	.callback_middle:after,
	.callback_bottom:after,
	.callback__background_middle,
	.callback__background_bottom {
		height: 226px;
	}
	.callback__background_middle,
	.callback__background_bottom  {
		margin: 0 auto;;
	}
	.callback__background {
		position: relative;
	} 
	.callback__wrapper	{
		display: flex;
		flex-direction: column;
	}
	.callback_middle:after,
	.callback_bottom:after {
		height: 56%;
		width: 110%;
	}
}